<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Simple Server</title>
	<link rel="icon" href="./images/favicon.ico">

	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<div class="container">
		<h2 style="background: chartreuse">This Page is Powered by: BABY SHAMPOO</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias voluptate, natus porro perspiciatis magnam illo, cum consequatur excepturi ex illum! Similique modi excepturi adipisci minus, expedita! Eius, quidem impedit nostrum?
		</p>
	</div>

</body>
</html>
